@mixin commentCard {
	width: 100%;
	height: max-content;
	margin: 10px 0px;
	background-color: white;
	border-radius: 5px;

	.houser {
		position: absolute;
		width: 60px;
		.counter {
			position: relative;
			width: 30px;
			height: 70px;
			left: 15px;
			top: 15px;
			border-radius: 10px;
			background-color: hsl(228, 33%, 97%);

			.count {
				height: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			img {
				width: 40%;
				margin: 30%;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.topStuff {
		height: 50px;
		margin-left: 60px;
		display: flex;
		@include imgs;

		#dit {
			width: 200px;
			font-weight: lighter;
			padding-bottom: 7px;
			color: hsl(239, 57%, 85%);
		}

		.you {
			margin-top: 21px;
			margin-bottom: 10px;
			width: 40px;
			display: flex;
			align-content: center;
			justify-content: center;
			margin-left: 7px;
			background: hsl(238, 40%, 52%);
			color: white;
		}
		.option {
			display: flex;
			align-items: center;
			justify-content: end;
			width: stretch;
			margin-right: 40px;
			cursor: pointer;
			p {
				color: hsl(238, 40%, 52%);
			}
			#svg {
				height: 12px;
				width: 12px;
				margin-top: 15px;
				margin-right: -9px;
			}
		}
		.options {
			display: flex;
			align-items: center;

			img {
				height: 15px;
				width: 15px;
			}
			p {
				margin: 5px;
			}

			.delete {
				display: flex;
				align-items: center;
				cursor: pointer;
				#red {
					color: hsl(358, 79%, 66%);
				}
			}
			.edit {
				display: flex;
				align-items: center;
				margin-left: 16px;
				cursor: pointer;
				#blue {
					color: hsl(238, 40%, 52%);
				}
			}
		}
	}

	.coments {
		margin-left: 70px;
		height: fit-content;
		margin-right: 10px;
	}

	.spacer {
		height: 10px;
	}
}

@mixin imgs {
	img {
		height: 30px;
		width: 30px;
		margin: 5px;
		margin-top: 15px;
	}

	#svg {
		margin-left: 30%;
		height: 15px;
		width: 15px;
		margin-top: 22px;
	}
	p {
		position: relative;
		bottom: -4px;
		margin-left: 15px;
	}
	a {
		margin-top: 20px;
		text-decoration: none;
		font-weight: bold;
		font-size: large;
	}
}

@mixin button {
	position: relative;
	left: 10px;
	background-color: hsl(238, 40%, 52%);
	width: 80px;
	height: 40px;
	border-radius: 7px;
	color: white;
	bottom: 50%;
}

@mixin comment {
	font-family: "Rubik", sans-serif;
	margin-top: 10px;
	width: 500px;
	border-radius: 5px;
	height: 60px;
	padding: 10px;
}

@mixin replyBox {
}

body {
	width: 95vw;
	height: 90vh;
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: hsl(223, 19%, 93%);
}

.modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;

	.modalHouse {
		background: whitesmoke;
		padding: 30px;
		border-radius: 7px;

		.deleter {
			width: 315px;
			background-color: whitesmoke;

			.delete-options {
				#no {
					color: white;
					background: hsl(227, 5%, 37%);
					width: 150px;
					border-radius: 6px;
					height: 40px;
				}
				#yes {
					color: white;
					background: hsl(358, 79%, 66%);
					width: 150px;
					border-radius: 6px;
					height: 40px;
				}
			}
		}
	}
}

.active {
	visibility: visible;
	opacity: 1;
}

.container {
	height: 100%;
	width: 700px;
	border: solid gold;

	.wrapper {
		border: solid black;
		height: 550px;
	}

	.dynamic {
		.topTwo {
			height: fit-content;

			.first {
				@include commentCard;
			}

			.onReply {
				margin-top: -5px;
				display: flex;
				background-color: white;
				border-radius: 3px;
				height: fit-content;
				margin-bottom: 15px;

				#comms {
					@include comment;
				}

				img {
					height: 32px;
					width: 32px;
					margin: 5px 15px;
				}

				#hitReply {
					@include button;
				}
			}
		}

		.bottomTwo {
			height: 250px;
			margin-left: 32px;
			border-left: ridge;

			.second {
				@include commentCard;
				margin-top: 0px;
				margin-left: 30px;
				width: fit-content;
			}
			.onReply {
				margin-top: -5px;
				display: flex;
				background-color: white;
				border-radius: 3px;
				height: fit-content;
				margin-left: 30px;
				height: 100px;
				margin-bottom: 10px;

				#comms {
					@include comment;
					width: 430px;
				}

				img {
					height: 32px;
					width: 32px;
					margin: 5px 15px;
				}

				#hitReply {
					@include button;
				}
			}
		}
	}
	.comment_section {
		width: 100%;
		height: 100px;
		background-color: hsl(228, 33%, 97%);
		display: flex;
		border-radius: 5px;

		#ig {
			position: relative;
			width: 40px;
			height: 40px;
			left: 15px;
			top: 10px;
		}

		#comms {
			@include comment;
			margin-left: 25px;
		}

		#hit {
			@include button;
		}
	}
}
