@mixin commentCard {
	width: 100%;
	height: max-content;
	margin: 10px 0px;
	background-color: white;
	border-radius: 5px;
}

@mixin imgs {
	img {
		height: 30px;
		width: 30px;
		margin: 5px 10px;
	}

	#svg {
		margin-left: 30%;
		height: 15px;
		width: 15px;
		margin-top: 12px;
	}
	p {
		position: relative;
		bottom: 7px;
	}
	a {
		margin-top: 10px;
		text-align: center;
		text-decoration: none;
		font-size: large;
	}
}

@mixin button {
	position: relative;
	left: 10px;
	background-color: hsl(238, 40%, 52%);
	width: 80px;
	height: 40px;
	border-radius: 7px;
	color: white;
	bottom: 50%;
}

@mixin comment {
	font-family: "Rubik", sans-serif;
	margin-top: 10px;
	width: 400px;
	border-radius: 5px;
	height: 50px;
	padding: 10px;
}

body {
	background: rgb(255, 250, 241);
	width: 95vw;
	height: 90vh;
	font-family: "Rubik", sans-serif;
	font-size: 16px;
}

.wrapper {
	margin: 30px 150px 10px;
	height: 88vh;
	background-color: hsl(223, 19%, 93%);
	position: relative;
	width: 1100px;

	.container {
		height: 90%;
		position: relative;
		top: 40px;
		left: 250px;
		width: 590px;

		.dynamic {
			position: absolute;
			width: 98%;
			height: 450px;

			.topTwo {
				height: fit-content;

				.first {
					@include commentCard;

					.topStuff {
						height: 40px;
						margin-left: 60px;
						display: flex;
						@include imgs;

						#dit {
							margin-left: 10px;
							width: 100px;
							font-weight: lighter;
							padding-bottom: 7px;
							color: hsl(239, 57%, 85%);
						}
					}

					.counter {
						position: absolute;
						width: 30px;
						height: 70px;
						top: 25px;
						left: 20px;
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						background-color: hsl(228, 33%, 97%);

						.count {
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
						}
						img {
							width: 40%;
							margin: 30%;
							&:hover {
								cursor: pointer;
							}
						}
					}

					.coments {
						margin-left: 70px;
						height: 60px;
						margin-right: 15px;
					}

					.spacer {
						height: 10px;
					}
				}

				.open {
					visibility: hidden;
				}

				.onReply {
					margin-top: -5px;
					display: flex;
					background-color: white;
					border-radius: 3px;
					height: max-content;

					#comms {
						@include comment;
					}

					img {
						height: 35px;
						width: 35px;
						margin: 5px 10px;
					}

					#hitReply {
						@include button;
					}
				}
			}
			.bottomTwo {
				height: 47%;
				margin-left: 40px;
				border-left: 1px solid black;
			}
		}

		.comment_section {
			position: absolute;
			top: 80%;
			width: 100%;
			height: 100px;
			background-color: hsl(228, 33%, 97%);
			display: flex;
			border-radius: 5px;

			#ig {
				position: relative;
				width: 40px;
				height: 40px;
				left: 15px;
				top: 10px;
			}

			#comms {
				@include comment;
				margin-left: 25px;
			}

			#hit {
				@include button;
			}
		}
	}
}
