body {
  background: #fffaf1;
  width: 95vw;
  height: 90vh;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 30px 150px 10px;
  height: 88vh;
  background-color: #eaecf1;
  position: relative;
  width: 1100px;
}

.wrapper .container {
  position: relative;
  height: 100%;
  top: 20px;
  left: 250px;
  width: 590px;
}

.wrapper .container .dynamic {
  position: absolute;
}

.wrapper .container .dynamic .topTwo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.wrapper .container .dynamic .topTwo .first {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10px 0px;
  background-color: white;
  border-radius: 5px;
}

.wrapper .container .dynamic .topTwo .first .houser {
  position: absolute;
  width: 60px;
}

.wrapper .container .dynamic .topTwo .first .houser .counter {
  position: relative;
  width: 30px;
  height: 70px;
  left: 15px;
  top: 15px;
  border-radius: 10px;
  background-color: #f5f6fa;
}

.wrapper .container .dynamic .topTwo .first .houser .counter .count {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .container .dynamic .topTwo .first .houser .counter img {
  width: 40%;
  margin: 30%;
}

.wrapper .container .dynamic .topTwo .first .houser .counter img:hover {
  cursor: pointer;
}

.wrapper .container .dynamic .topTwo .first .topStuff {
  height: 40px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .container .dynamic .topTwo .first .topStuff img {
  height: 30px;
  width: 30px;
  margin: 5px 10px;
}

.wrapper .container .dynamic .topTwo .first .topStuff #svg {
  margin-left: 30%;
  height: 15px;
  width: 15px;
  margin-top: 12px;
}

.wrapper .container .dynamic .topTwo .first .topStuff p {
  position: relative;
  bottom: 7px;
}

.wrapper .container .dynamic .topTwo .first .topStuff a {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: large;
}

.wrapper .container .dynamic .topTwo .first .topStuff #dit {
  margin-left: 10px;
  width: 100px;
  font-weight: lighter;
  padding-bottom: 7px;
  color: #c3c4ef;
}

.wrapper .container .dynamic .topTwo .first .coments {
  margin-left: 70px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}

.wrapper .container .dynamic .topTwo .first .spacer {
  height: 10px;
}

.wrapper .container .dynamic .topTwo .open {
  visibility: hidden;
}

.wrapper .container .dynamic .topTwo .open .onReply {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 3px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.wrapper .container .dynamic .topTwo .open .onReply #comms {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  width: 400px;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
}

.wrapper .container .dynamic .topTwo .open .onReply img {
  height: 32px;
  width: 32px;
  margin: 5px 15px;
}

.wrapper .container .dynamic .topTwo .open .onReply #hitReply {
  position: relative;
  left: 10px;
  background-color: #5457b6;
  width: 80px;
  height: 40px;
  border-radius: 7px;
  color: white;
  bottom: 50%;
}

.wrapper .container .dynamic .bottomTwo {
  border: solid black;
  height: 47%;
  margin-left: 40px;
}

.wrapper .container .comment_section {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 100px;
  background-color: #f5f6fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

.wrapper .container .comment_section #ig {
  position: relative;
  width: 40px;
  height: 40px;
  left: 15px;
  top: 10px;
}

.wrapper .container .comment_section #comms {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  width: 400px;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  margin-left: 25px;
}

.wrapper .container .comment_section #hit {
  position: relative;
  left: 10px;
  background-color: #5457b6;
  width: 80px;
  height: 40px;
  border-radius: 7px;
  color: white;
  bottom: 50%;
}
/*# sourceMappingURL=index.css.map */