body {
  width: 95vw;
  height: 90vh;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #eaecf1;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.modal .modalHouse {
  background: whitesmoke;
  padding: 30px;
  border-radius: 7px;
}

.modal .modalHouse .deleter {
  width: 315px;
  background-color: whitesmoke;
}

.modal .modalHouse .deleter .delete-options #no {
  color: white;
  background: #5a5c63;
  width: 150px;
  border-radius: 6px;
  height: 40px;
}

.modal .modalHouse .deleter .delete-options #yes {
  color: white;
  background: #ed6468;
  width: 150px;
  border-radius: 6px;
  height: 40px;
}

.active {
  visibility: visible;
  opacity: 1;
}

.container {
  height: 100%;
  width: 700px;
  border: solid gold;
}

.container .wrapper {
  border: solid black;
  height: 550px;
}

.container .dynamic .topTwo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .dynamic .topTwo .first {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10px 0px;
  background-color: white;
  border-radius: 5px;
}

.container .dynamic .topTwo .first .houser {
  position: absolute;
  width: 60px;
}

.container .dynamic .topTwo .first .houser .counter {
  position: relative;
  width: 30px;
  height: 70px;
  left: 15px;
  top: 15px;
  border-radius: 10px;
  background-color: #f5f6fa;
}

.container .dynamic .topTwo .first .houser .counter .count {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .dynamic .topTwo .first .houser .counter img {
  width: 40%;
  margin: 30%;
}

.container .dynamic .topTwo .first .houser .counter img:hover {
  cursor: pointer;
}

.container .dynamic .topTwo .first .topStuff {
  height: 50px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .dynamic .topTwo .first .topStuff img {
  height: 30px;
  width: 30px;
  margin: 5px;
  margin-top: 15px;
}

.container .dynamic .topTwo .first .topStuff #svg {
  margin-left: 30%;
  height: 15px;
  width: 15px;
  margin-top: 22px;
}

.container .dynamic .topTwo .first .topStuff p {
  position: relative;
  bottom: -4px;
  margin-left: 15px;
}

.container .dynamic .topTwo .first .topStuff a {
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.container .dynamic .topTwo .first .topStuff #dit {
  width: 200px;
  font-weight: lighter;
  padding-bottom: 7px;
  color: #c3c4ef;
}

.container .dynamic .topTwo .first .topStuff .you {
  margin-top: 21px;
  margin-bottom: 10px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7px;
  background: #5457b6;
  color: white;
}

.container .dynamic .topTwo .first .topStuff .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  margin-right: 40px;
  cursor: pointer;
}

.container .dynamic .topTwo .first .topStuff .option p {
  color: #5457b6;
}

.container .dynamic .topTwo .first .topStuff .option #svg {
  height: 12px;
  width: 12px;
  margin-top: 15px;
  margin-right: -9px;
}

.container .dynamic .topTwo .first .topStuff .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .dynamic .topTwo .first .topStuff .options img {
  height: 15px;
  width: 15px;
}

.container .dynamic .topTwo .first .topStuff .options p {
  margin: 5px;
}

.container .dynamic .topTwo .first .topStuff .options .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .dynamic .topTwo .first .topStuff .options .delete #red {
  color: #ed6468;
}

.container .dynamic .topTwo .first .topStuff .options .edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  cursor: pointer;
}

.container .dynamic .topTwo .first .topStuff .options .edit #blue {
  color: #5457b6;
}

.container .dynamic .topTwo .first .coments {
  margin-left: 70px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}

.container .dynamic .topTwo .first .spacer {
  height: 10px;
}

.container .dynamic .topTwo .onReply {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 3px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 15px;
}

.container .dynamic .topTwo .onReply #comms {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  width: 500px;
  border-radius: 5px;
  height: 60px;
  padding: 10px;
}

.container .dynamic .topTwo .onReply img {
  height: 32px;
  width: 32px;
  margin: 5px 15px;
}

.container .dynamic .topTwo .onReply #hitReply {
  position: relative;
  left: 10px;
  background-color: #5457b6;
  width: 80px;
  height: 40px;
  border-radius: 7px;
  color: white;
  bottom: 50%;
}

.container .dynamic .bottomTwo {
  height: 250px;
  margin-left: 32px;
  border-left: ridge;
}

.container .dynamic .bottomTwo .second {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10px 0px;
  background-color: white;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .dynamic .bottomTwo .second .houser {
  position: absolute;
  width: 60px;
}

.container .dynamic .bottomTwo .second .houser .counter {
  position: relative;
  width: 30px;
  height: 70px;
  left: 15px;
  top: 15px;
  border-radius: 10px;
  background-color: #f5f6fa;
}

.container .dynamic .bottomTwo .second .houser .counter .count {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .dynamic .bottomTwo .second .houser .counter img {
  width: 40%;
  margin: 30%;
}

.container .dynamic .bottomTwo .second .houser .counter img:hover {
  cursor: pointer;
}

.container .dynamic .bottomTwo .second .topStuff {
  height: 50px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .dynamic .bottomTwo .second .topStuff img {
  height: 30px;
  width: 30px;
  margin: 5px;
  margin-top: 15px;
}

.container .dynamic .bottomTwo .second .topStuff #svg {
  margin-left: 30%;
  height: 15px;
  width: 15px;
  margin-top: 22px;
}

.container .dynamic .bottomTwo .second .topStuff p {
  position: relative;
  bottom: -4px;
  margin-left: 15px;
}

.container .dynamic .bottomTwo .second .topStuff a {
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.container .dynamic .bottomTwo .second .topStuff #dit {
  width: 200px;
  font-weight: lighter;
  padding-bottom: 7px;
  color: #c3c4ef;
}

.container .dynamic .bottomTwo .second .topStuff .you {
  margin-top: 21px;
  margin-bottom: 10px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7px;
  background: #5457b6;
  color: white;
}

.container .dynamic .bottomTwo .second .topStuff .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  margin-right: 40px;
  cursor: pointer;
}

.container .dynamic .bottomTwo .second .topStuff .option p {
  color: #5457b6;
}

.container .dynamic .bottomTwo .second .topStuff .option #svg {
  height: 12px;
  width: 12px;
  margin-top: 15px;
  margin-right: -9px;
}

.container .dynamic .bottomTwo .second .topStuff .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .dynamic .bottomTwo .second .topStuff .options img {
  height: 15px;
  width: 15px;
}

.container .dynamic .bottomTwo .second .topStuff .options p {
  margin: 5px;
}

.container .dynamic .bottomTwo .second .topStuff .options .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .dynamic .bottomTwo .second .topStuff .options .delete #red {
  color: #ed6468;
}

.container .dynamic .bottomTwo .second .topStuff .options .edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  cursor: pointer;
}

.container .dynamic .bottomTwo .second .topStuff .options .edit #blue {
  color: #5457b6;
}

.container .dynamic .bottomTwo .second .coments {
  margin-left: 70px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}

.container .dynamic .bottomTwo .second .spacer {
  height: 10px;
}

.container .dynamic .bottomTwo .onReply {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 3px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 30px;
  height: 100px;
  margin-bottom: 10px;
}

.container .dynamic .bottomTwo .onReply #comms {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  width: 500px;
  border-radius: 5px;
  height: 60px;
  padding: 10px;
  width: 430px;
}

.container .dynamic .bottomTwo .onReply img {
  height: 32px;
  width: 32px;
  margin: 5px 15px;
}

.container .dynamic .bottomTwo .onReply #hitReply {
  position: relative;
  left: 10px;
  background-color: #5457b6;
  width: 80px;
  height: 40px;
  border-radius: 7px;
  color: white;
  bottom: 50%;
}

.container .comment_section {
  width: 100%;
  height: 100px;
  background-color: #f5f6fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

.container .comment_section #ig {
  position: relative;
  width: 40px;
  height: 40px;
  left: 15px;
  top: 10px;
}

.container .comment_section #comms {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  width: 500px;
  border-radius: 5px;
  height: 60px;
  padding: 10px;
  margin-left: 25px;
}

.container .comment_section #hit {
  position: relative;
  left: 10px;
  background-color: #5457b6;
  width: 80px;
  height: 40px;
  border-radius: 7px;
  color: white;
  bottom: 50%;
}
/*# sourceMappingURL=index.css.map */